html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}
.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navSearch {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    width: 400px;
}
.navSearch input {
    border: none;
    background-color: transparent;
    width: 100%;
}
.navSearch img { 
    padding-left: 10px;
}
.navSearch input::placeholder{
    color: white;
}
.limitedOffer {
    font-size: 20px;
    border-bottom: solid green 2px ;
    cursor: pointer;
}
.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem { 
    padding: 10px 40px;
    margin-top: 8px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.menuItem:hover {
    border-bottom: solid white 1px;
    border-radius: 5px;
}
.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}
.sliderWrapper {
    width: 500vw;
    display: flex;
    transition: all 1.5s ease-in-out;
}
.itemWrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.itemWrapper img {
    z-index: 1;
}
.slideBg {
    height: 750px;
    width: 750px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
}
.sliderTitle {
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
}
.priceTitle {
    color: white;
    position: absolute;
    border: solid white 2px;
    padding: 5px 5px;
    border-radius: 10px;
    top: 10%;
    left: 10%;
    font-size: 30px;
}
.itemWrapper a {
    position: absolute;
    top: 20%;
    right: 10%;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    border: solid white 3px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.itemWrapper a:hover {
    background-color: #111;
}
.itemWrapper:nth-child(1) .slideBg {
    background-color: #369e62;
}
.itemWrapper:nth-child(2) .slideBg {
    background-color: rebeccapurple;
}
.itemWrapper:nth-child(3) .slideBg {
    background-color: teal;
}
.itemWrapper:nth-child(4) .slideBg {
    background-color: cornflowerblue;
}
.itemWrapper:nth-child(5) .slideBg {
    background-color: rgb(124, 115, 80);
}
/* feature css start */
.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.feature {
    border: solid green 2px;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.feature .featureImg{
    height: 50px;
    width: 50px;
}
.feature .featureTitle {
    text-transform: uppercase;
    font-weight: 600;
    margin: 5px;
}
.feature .featureDescription {
    text-transform:capitalize;
    font-size: 15px;
}
/* feature css end */

/* product Section start */
.sectionProduct {
    height: 100vw;
    background-color: whitesmoke;
    position: relative;
}
.sectionProduct img {
    width: 50%;
}
.productDetail {
    position: absolute;
    top: 10%;
    right: 0;
    padding: 50px;
    width: 40%;
}
.productDetail .productTitle {
    font-size: 40px;
    font-weight: 900;
}
.productDetail .productDescription {
    color: gray;
}
.productSizes, .productColors {
    display: flex;
}
.productColors .color {
    border-radius: 5px;
    background-color: #369e62;
    height: 32px;
    width: 32px;
    margin: 10px 5px;
    cursor: pointer;
}
.productColors .color:hover {
    border: solid black 2px;
    border-radius: 5px;
}
.productSizes .size {
    border: solid black 2px;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;
}
.productSizes .size:hover{
    color: white;
    background-color: black;
}
.productDetail .button {
    float: right;
    border: solid black 2px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
}
.productDetail .button:hover {
    background-color: green;
    color: white;
}
/* product Section end  */